{% extends "lay.html" %}

{% block pagetitle %}<h1>Dodawanie nowego posta</h1>
{{mess}}
{% endblock %}

{% block loginform %}
<form action="{% url 'added' %}" method="POST">
    {% csrf_token %}
    <div class="login-screen">
        <div class="login-form">
            {{ user.username }}:<br/>
            <textarea id="text" name="text"></textarea>
            <input type="submit" class="btn btn-primary btn-large btn-block" value="Publish"/>
        </div>
    </div>
</form>
{% endblock %}