{% extends "lay.html" %}

{% block pagetitle %}<h1>Strona glowna</h1>{{ mess }}{% endblock %}

{% block content %}
{% for entry in entries %}
        <hr />
        <h3>{{entry.text}}</h3>
        <p>Napisano {{entry.pub_date}} przez <a href="/~p6/mysite.wsgi/blog/users/{{entry.author.id}}">{{entry.author}}</a></p>
{%  endfor %}
{% endblock %}