{% extends "lay.html" %}

{% block pagetitle %}<h1>Logowanie</h1>{% endblock %}

{% block loginform %}
<form action="{% url 'log_in' %}" method="POST">
    {% csrf_token %}
    <div class="login-screen">
        <div class="login-form">
            {{message}}<br/>
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Enter your name" id="username" name="username"/>
                <label class="login-field-icon fui-man-16" for="username"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="password" name="password"/>
                <label class="login-field-icon fui-lock-16" for="password"></label>
            </div>
            <input type="submit" class="btn btn-primary btn-large btn-block" name="go" value="Login"/>
            <!--<br/>
            <p style="text-align: right;"><input type="submit" name="go" value="Forgot password ?" /></p>-->
        </div>
    </div>
</form>
{% endblock %}