{% extends "lay.html" %}

{% block pagetitle %}<h1>Register</h1>{% endblock %}

{% block loginform %}
<form action="{% url 'newpass' %}" method="POST">
    {% csrf_token %}
    <div class="login-screen">
        <div class="login-form">
            {{mess}}
            <h2>{{ user.username }}</h2>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Old Password" id="oldpassword" name="oldpassword"/>
                <label class="login-field-icon fui-lock-16" for="oldpassword"></label>
                <hr/>
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="New Password" id="newpassword" name="newpassword"/>
                <label class="login-field-icon fui-lock-16" for="newpassword"></label>
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="New Password" id="confirmpassword" name="confirmpassword"/>
                <label class="login-field-icon fui-lock-16" for="confirmpassword"></label>
            </div>
            <input type="submit" class="btn btn-primary btn-large btn-block" value="Change"/>
        </div>
    </div>
</form>
{% endblock %}