{% extends "lay.html" %}

{% block pagetitle %}<h1>Register</h1>{% endblock %}

{% block loginform %}
<form action="{% url 'sign' %}" method="POST">
    {% csrf_token %}
    <div class="login-screen">
        <div class="login-form">
            {{mess}}
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Enter your name" id="username" name="username"/>
                <label class="login-field-icon fui-man-16" for="username"></label>
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="password" name="password"/>
                <label class="login-field-icon fui-lock-16" for="password"></label>
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="confirmpassword" name="confirmpassword"/>
                <label class="login-field-icon fui-lock-16" for="password"></label>
            </div>
            <div class="control-group">
                <input type="email" class="login-field" value="" placeholder="ja@blog.com" id="mail" name="mail">
                <label class="login-field-icon fui-mail-16" for="mail"></label>
            </div>
            <input type="submit" class="btn btn-primary btn-large btn-block" value="Register"/>
        </div>
    </div>
</form>
{% endblock %}