<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/pub/img/favicon.ico" />
        <link rel="stylesheet" href="/pub/styles.css">
        <meta charset="utf-8"/>
        <title>My Site</title>
    </head>
    <body>
        <div class="header">
            <div class="logo"><h1>Blog</h1></div>
            <div class="menu"></div>
            <div class="login">
                {% block logon %}{% endblock %}</div>
        </div>
        <div class="container">
            <div class="content">
            {% if messages %}
                {% for message in messages %}
                <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>